.index__contents
  = render partial: "/shared/side_bar"
  .index__contents__right-content
    .index__contents__right-content__upper-box
      .index__contents__right-content__upper-box__group-info
        %h2
          = @group.name
        .group-members
          = "member: #{@group.members_name}"
      .edit-button
        = link_to edit_group_path(@group.id) do
          %p Edit

    .index__contents__right-content__message-space
      - @messages.each do |message|
        = render partial: "message-box", locals: {message: message}
    .index__contents__right-content__bottom-box
      .form
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: "message-form", placeholder: "type a message"
          = f.label :image, class: "upload-label" do
            = fa_icon("image image-icon")
            = f.file_field :image, class: "hidden-image-form"
          = f.submit "Send", class: "submit-button"
